#compiler-settings
cheetahVarStartToken = @
#end compiler-settings
#from base_html import base_html
#extends base_html
#def body
<table class="table table-striped rounded" style="margin-left:4px;margin-bottom: 1px;">
<tr><td style="width:10%"><a href='@baseurl/@FName/'>Data Commons</a></td><td id='commons_name'>@database</td></tr>
<!--<tr><td>Catalog Items</td><td>
  @rec_info['startRecord'] - @rec_info['endRecord'] Records of @rec_info['totalRecords']</br>
  </td></tr>-->
 </table>

   <!-- <div id="tabss" class="nav nav-tabs rounded">-->
        <ul id="tabs" class="nav nav-tabs tab-bar">
            <li style="width:10%; margin-left:6px;" class="active"><a name="tabs-1" href="#tabs-1" data-toggle="tab">Catalog  Items</a></li>
            <li><a name="tabs-2" href="#tabs-2" data-toggle="tab"> Metadata </a></li>
            <li><a name="tabs-3" href="#tabs-3" data-toggle="tab"> Locations </a></li>
        </ul>
         <div class="tab-content" style="padding:0px;">
          <div class="tab-pane active"  id="tabs-1" class="rounded">
            <textarea id="jsoninput" rows="35" cols="24">@serial</textarea>
            <div id="editarea"  class="rounded">
                <strong>Data Commons:</strong> @database </br>
                <strong>Catalog Items:</strong> @rec_info['startRecord'] - @rec_info['endRecord'] of @rec_info['totalRecords']
                <div id="Pagination" class="pagination"></div>
                <div id="json_editor" data-role="myjson"></div>
            </div>
          </div>
          <div class="tab-pane" id="tabs-2">
            <textarea id="jsoninput_meta" rows="35" cols="24">@serialmeta</textarea>
            <div id="editarea_meta"  class="rounded">
                <strong>Data Commons:</strong> @database </br>
                <strong>Metadata:</strong> @rec_info['startRecord'] - @rec_info['endRecord'] of @rec_info['totalRecords']
                <div id="json_editor_meta" data-role="myjson"></div>
            </div>
          </div>
          <div class="tab-pane"  id="tabs-3">
            <textarea id="jsoninput_location" rows="35" cols="24">@seriallocation</textarea>
            <div id="editarea_location"  class="rounded">
                <strong>Data Commons:</strong> @database </br>
                <strong>Locations:</strong> @rec_info['startRecord'] - @rec_info['endRecord'] of @rec_info['totalRecords']
                <div id="json_editor_loc" data-role="myjson"></div>
            </div>
          </div>
        </div>
   <!-- </div>-->
<div id='editparam-dialog'></div>
<script type="text/javascript">
function pageselectCallback(page_index, jq){
        //        alert(page_index);
        var page = page_index+1+''; 
        var url ="http://production.cybercommons.org/catalog/ajax_data/@database?page=" + page
        $.getJSON(url,function(data){
            $('#jsoninput').val(JSON.stringify(data));//[0]['data']));
            //var info = data[0]['info']
            //$('#info').html('<strong>Documents : </strong> ' + info['startRecord'] + ' - ' + info['endRecord'] + ' of ' + info['totalRecords']);
            $('#json_editor').html('');
            json_editor('json_editor',$('#jsoninput').val());
            //$('#Page').pagination({
            //    items: info['totalRecords'],
            //    itemsOnPage: info['endRecord'] - info['startRecord'],
            //    cssStyle: 'light-theme'
            //});
        });

                // Get number of elements per pagionation page from form
                //var items_per_page = $('#items_per_page').val();
                //var max_elem = Math.min((page_index+1) * items_per_page, members.length);
                //var newcontent = '';
                
                // Iterate through a selection of the content and build an HTML string
                //for(var i=page_index*items_per_page;i<max_elem;i++)
                //{
                //    newcontent += '<dt>' + members[i][0] + '</dt>';
                //    newcontent += '<dd class="state">' + members[i][2] + '</dd>';
                //    newcontent += '<dd class="party">' + members[i][3] + '</dd>';
                //}
                
                // Replace old content with new content
                //$('#Searchresult').html(newcontent);
                
                // Prevent click eventpropagation
                //return false;
}
$(function () {
    
    var optInit = {callback: pageselectCallback,items_per_page:10,num_display_entries:10,num_edge_entries:10,prev_text:"Prev",next_text:"Next"};
    $("#Pagination").pagination(@rec_info['totalRecords'], optInit);

});
</script>
#end def
